<div id="courses-view-{{uniqid}}"
    data-region="courses-view"
    data-display="{{view}}"
    data-grouping="{{grouping}}"
    data-customfieldname="{{customfieldname}}"
    data-customfieldvalue="{{customfieldvalue}}"
    data-sort="{{sort}}"
    data-prev-display="{{view}}"
    data-paging="{{paging}}"
    data-nocoursesimg="{{nocoursesimg}}"
    data-totalcoursecount="{{totalcoursecount}}"
    data-displaycategories="{{displaycategories}}"
    data-newcourseurl="{{newcourseurl}}">
    <div data-region="course-view-content">
        {{> block_myoverview/placeholders }}
    </div>
</div>